{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>{% block title %}My shop{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <link href="static/affiliate/css/style.css" rel="stylesheet">
    <link href="static/affiliate/css/style2.css" rel="stylesheet">
</head>

<body>

<header class="site-header sticky-top py-1 ">    
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" aria-label="Tenth navbar example">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample08" aria-controls="navbarsExample08" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample08">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Promotion</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="{% url "localshop:all_products" %}">Store</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#" tabindex="-1" aria-disabled="true">Blog</a>
          </li>

          <li class="nav-item dropdown">
                            <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Products
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item active" href="{% url "localshop:all_products" %}">All</a></li>
                                {% for c in categories %}
                                <li {% if category.slug == c.slug %}class="selected" {% endif %}>
                                    <a class="dropdown-item" href="{{ c.get_absolute_url }}">{{ c.name|title }}</a>
                                </li>
                                {% endfor %}
                            </ul>
                        </li>
        </ul>
      </div>
    </div>
  </nav>
  </header>
<!--Carousel-->
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../static/localshop/images/coffe.jpg" class="img-fluid" alt="...">
        </div>
          <div class="carousel-item">
            <img src="../static/localshop/images/coffeLONG.jpg" class="img-fluid" alt="...">
          </div>
        <div class="carousel-item">
      <img src="../static/localshop/images/gucci.jpg" class="img-fluid" alt="...">
    </div>
  </div>


</div>
<!--End Carousel-->



    </header>
    <div id="content">{% block content %} {% endblock %}</div>
  <div class="b-example-divider"></div>


<div class="container">
  <footer class="py-5">
    <div class="row">
      <div class="col-2">
        <h5>Kontakta Oss</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Address:</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Telefon:</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">E-post:</a></li>

        </ul>
      </div>

      <div class="col-2">
        <h5>Nokstore</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Store</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Blog</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Om oss</a></li>

        </ul>
      </div>

      <div class="col-2">
        <h5>Användbart Längar</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Använda villkor</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Integritets policy</a></li>
          
        </ul>
      </div>

      <div class="col-4 offset-1">
        <form>
          <h5>Prenumerera på vårt nyhetsbrev</h5>
          <p>Månadsvis sammanfattning av vad som är nytt och spännande från oss.</p>
          <div class="d-flex w-100 gap-2">
            <label for="newsletter1" class="visually-hidden">Email address</label>
            <input id="newsletter1" type="text" class="form-control" placeholder="Email address">
            <button class="btn btn-primary" type="button">Subscribe</button>
          </div>
        </form>
      </div>
    </div>

    <div class="d-flex justify-content-between py-4 my-4 border-top">
      <p>&copy; 2021 Company, Inc. All rights reserved.</p>
      <ul class="list-unstyled d-flex">
        <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"/></svg></a></li>
        <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"/></svg></a></li>
        <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"/></svg></a></li>
      </ul>
    </div>
  </footer>
</div>


</body>
</html>