{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <title>{% block title %}OrganicMen's Store{% endblock %}</title>
    <!-- Global site tag (gtag.js) - Google Analytics -->


    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link href="static/localshop/assets/css/style.css" rel="stylesheet">
    <link href="static/localshop/assets/css/style2.css" rel="stylesheet">
    

  </head>


<header class="site-header sticky-top py-1 ">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" aria-label="Tenth navbar example">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample08" aria-controls="navbarsExample08" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

      <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample08">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url "localshop:all_products"%}">Home</a>
          </li>

          <li class="nav-item">
            <a class="nav-link active" href="{% url "localshop:all_products"%}">Web Store</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#" tabindex="-1" aria-disabled="true">Blog</a>
          </li>

          <li class="nav-item dropdown">
              <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button"
                    data-bs-toggle="dropdown" aria-expanded="false">
                        Products
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item active" href="{% url "localshop:all_products"%}">All</a></li>
                        {% for c in categories %}
                        <li {% if category.slug == c.slug %}class="selected" {% endif %}>
                        <a class="dropdown-item" href="{{ c.get_absolute_url }}">{{ c.name|title }}</a>
                      </li>
                    {% endfor %}
                </ul>
              </li>
        </ul>
      </div>
    </div>
  </nav>
  </header>
<!--End Fixed Navbar-->

</header>
<!-- ======= Hero Section ======= -->

{% block content %}





{% endblock%}

</div>


