{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <title>{% block title %}OganicNews{% endblock %}</title>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-5JZPNH2C4Z"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-5JZPNH2C4Z');
</script>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
     <!-- Favicons -->
  <link href="../static/organic/assets/img/favicon.png" rel="icon">
  <link href="../static/organic/assets/img/noklogo.png" rel="noklogo">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../static/assets/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="../static/organic/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
   <link href="../static/assets/css/style.css" rel="stylesheet">
   <link href="../static/assets/css/style2.css" rel="stylesheet">
   <link href="../static/assets/css/style_dev.css" rel="stylesheet">
    <link href="../static/css/style.css" rel="stylesheet">
   <link href="../static/css/style2.css" rel="stylesheet">
   <link href="../static/css/style_dev.css" rel="stylesheet">



  </head>




<!--End Fixed Navbar-->

</header>
<body>
  <!-- ======= Header ======= -->
<header class="site-header sticky-top py-1 ">
      <div class="Another Navbar"></div>

  <div class="container bg-light">
    <header class="d-flex justify-content-center py-3">
      <ul class="nav nav-pills">
        <li class="nav-item"><a href="" class="nav-link active bg-danger" aria-current="page">Home</a></li>
        <li class="nav-item"><a href="{% url "localshop:all_products"%}" class="nav-link text-dark">WEBSTORE</a></li>
        <li class="nav-item"><a href="" class="nav-link text-dark">PORTFOLIO</a></li>
        <li class="nav-item"><a href="" class="nav-link text-dark">BLOG</a></li>
        <li class="nav-item"><a href="" class="nav-link text-dark">STOCK PRICES</a></li>
        <li class="nav-item"><a href="" class="nav-link text-dark">ABOUT</a></li>
        <li class="nav-item dropdown">


        </li>
      </ul>
    </header>
  </div>

  </header><!-- End Header -->
{% block content %}





{% endblock%}

</div>


























    <!-- Optional JavaScript; choose one of the two! -->
    <!-- Template Main JS File -->
  <script src="../static/organic/assets/js/main.js"></script>

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
  </body>
</html>

